/* GENERAL STYLES */
.box:hover {
  box-shadow: 10px 10px violet;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #4e2a84;
}

a {
  color: #4e2a84;
  text-decoration: none;
}

h1 {
  font-family: "Strait", sans-serif;
}

header {
  padding: 20px;
  font-family: "Strait", sans-serif;
  background-color: white;
  color: #4e2a84;
  text-decoration: none;
}

header h1 {
  display: inline-block;
  font-size: 48px;
}

header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Strait", sans-serif;
  font-size: 20px;
  text-decoration: none;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

br {
  line-height: 12;
}

nav ul li {
  display: inline-block;
  margin-left: 25px;
}

h2 ~ a {
  color: whitesmoke;
}

p {
  font-family: "Strait", sans-serif;
}
.demo {
  padding-top: 15px;
  font-family: "Strait", sans-serif;
  font-size: 20px;
  text-align: center;
}

.about-me {
  text-align: center;
}

.justify {
  text-align: center;
}

.box {
  width: 300px;
  border: 5px dashed whitesmoke;
  padding: 20px;
  margin: 15px;
  color: whitesmoke;
  font-family: "Strait", sans-serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 33%;
}

.boxy {
  border: 10px solid whitesmoke;
  padding: 50px;
  margin: 20px;
  color: whitesmoke;
}

.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}

footer {
  display: block;
  padding: 50px;
  text-align: center;
  color: whitesmoke;
  border: 5px;
  font-family: "Strait", sans-serif;
}

.container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

/*Neon*/

/* a:nth-child(1) {
  font-family: Monoton;
  animation: neon1 1.5s ease-in-out infinite alternate;
} */
/* 
a:nth-child(2) {
  font-family: Iceland;
  animation: neon2 1.5s ease-in-out infinite alternate;
} */

/* a:nth-child(3) {
  font-family: Pacifico;
  animation: neon3 1.5s ease-in-out infinite alternate;
}

a:nth-child(4) {
  font-family: "Press Start 2P";
  animation: neon4 1.5s ease-in-out infinite alternate;
}

a:nth-child(5) {
  font-family: Audiowide;
  animation: neon5 1.5s ease-in-out infinite alternate;
} */

h1:nth-child(6) {
  font-family: Vampiro One;
  animation: neon6 1.5s ease-in-out infinite alternate;
}

/*glow*/

@keyframes neon6 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de,
      0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de,
      0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
  }
}

/* Media Query */

@media (max-width: 650px) {
  h1 {
    font-size: 3.5em;
  }
}
