/* General Styling of the page */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: #4e2a84;
  text-decoration: none;
}

body {
  background-color: #4e2a84;
}

h1 {
  font-family: "Strait", sans-serif;
}

h2 ~ a {
  color: whitesmoke;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-family: "Strait", sans-serif;
  background-color: white;
  color: #4e2a84;
  text-decoration: none;
}

header h1 {
  font-size: 48px;
}

header nav {
  padding-top: 15px;
  margin-right: 20px;
  font-family: "Strait", sans-serif;
  font-size: 20px;
  text-decoration: none;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

nav ul li {
  display: inline-block;
  margin-left: 25px;
}

p {
  font-family: "Strait", sans-serif;
  padding: 30px;
}
/* footer styling */
footer {
  display: block;
  padding: 50px;
  text-align: center;
  color: whitesmoke;
  border: 5px;
  font-family: "Strait", sans-serif;
}
/* styling classes */
.about-me {
  text-align: center;
}
/* contains neon animation along with logo styling */
.anchor {
  text-align: center;
  font-size: 1em;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1;
  text-decoration: none;
  color: #fff;
  font-family: "Strait", sans-serif;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

.box {
  width: 300px;
  border: 5px dashed whitesmoke;
  padding: 20px;
  margin: 15px;
  color: whitesmoke;
  font-family: "Strait", sans-serif;
}

.box2 {
  border: 10px solid whitesmoke;
  margin: 20px;
  color: whitesmoke;
}
/* Styling for link boxes */
.box-row {
  padding-top: 15px;
  font-family: "Strait", sans-serif;
  font-size: 1.25rem;
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.fnt-75 {
  font-size: 4.75rem;
}

.justify {
  text-align: center;
}

.p-30 {
  padding: 30px;
}

/*Hover elements*/
.box:hover {
  box-shadow: 10px 10px violet;
}
/* Used for color in Neon Logo */
@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #4e2a84,
      0 0 70px #4e2a84, 0 0 80px #4e2a84, 0 0 100px #4e2a84, 0 0 150px #4e2a84;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #4e2a84,
      0 0 35px #4e2a84, 0 0 40px #4e2a84, 0 0 50px #4e2a84, 0 0 75px #4e2a84;
  }
}

/* Media Query */

@media (max-width: 650px) {
  p {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 768px) {
  body {
    width: 100%;
  }
  nav ul li {
    width: 100%;
  }
}
